@font-face {
    font-family: 'HeliosExtC';
    src: url('../fonts/HeliosExtC.woff');
}

@font-face {
    font-family: 'HeliosExtC';
    src: url('../fonts/HeliosExtLightC.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'HeliosExtC';
    src: url('../fonts/HeliosExtC-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'SA No Rules';
    src: url('../fonts/SANoRulesRegular.woff');
}