.container {
    max-width: 1620px;
    margin: 0 auto;
}

body {
    font-family: 'HeliosExtC'; 
    color: #fff;
    overflow: hidden;
}

.title {
    font-size: 82px;
}

@media (max-width: 1699px) {
    .container {
        max-width: 1480px;
    }
}

@media (max-width: 1599px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 10px;
    }
}

.hover-underline {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 0%;
        top: 130%;
        left: 0;
        background: #fff;
        transition: 0.4s all;
    }
    &:hover::after {
        width: 100%;
    }
}

@media (max-width: 1699px) {
    .title {
        font-size: 75px;
    }
}

@media (max-width: 1599px) {
    .title {
        font-size: 65px;
    }
}

@media (max-width: 1399px) {
    .title {
        font-size: 60px;
    }
}

@media (max-width: 1199px) {
    .title {
        font-size: 50px;
    }
}

@media (max-width: 991px) {
    body {
        overflow-y: scroll;
    }
    .title {
        font-size: 39px;
    }
}

@media  (max-width: 767px) {
    .title {
        font-size: 34px;
    }
}