.cases {
    padding: int(110,210) 0;
    background: url('../img/cases/cases-bg.png') center top / cover no-repeat, #000;
    &__title {
        position: relative;
        transition: 0.1s all ease-out;
        transform: translate(0px, 100px);
    }
    &__wrapper {
        margin-top: int(40,70);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        position: relative;
        z-index: 1;
        transition: 0.1s all ease-out;
        transform: translate(0px, 100px);
        &-blur {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            height: 164px;
            background: #FAFD77;
            opacity: 0.5;
            filter: blur(120px);
            pointer-events: none;
        }
    }
    &__item {
        z-index: 1;
        &-main {
            position: relative;
            display: block;
            background: transparent;
            transition: 0.5s all;
            &:hover {
                background: #FAFD77;
                .cases__item-arrow {
                    opacity: 1;
                }
                .cases__item-link {
                    opacity: 1;
                }
                .cases__item-img {
                    opacity: 0;
                }
            }
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            transition: 0.5s all;
        }
        &-arrow {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 29%;
            opacity: 0;
            transition: 0.5s all;
        }
        &-link {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            color: #000;
            opacity: 0;
            transition: 0.5s all;
        }
        &-smiles {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -18px;
            img {
                transition: 0.4s all;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &-text {
            text-align: center;
            margin-top: int(26,33);
            font-weight: 300;
            font-size: int(10,16);
            line-height: 1.25;
        }
    }
    .creators {
        &__title {
            margin-top: int(120,220);
            position: relative;
            transition: 0.1s all ease-out;
            transform: translate(0px, 100px);
        }
        &__wrapper {
            margin-top: int(40,70);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        &__item {
            position: relative;
            transition: 0.1s all ease-out;
            &-img {
                img {
                    width: 100%;
                }
            }
            &-name {
                margin-top: int(20,26);
                font-weight: 300;
                font-size: int(18,26);
                line-height: 1.23;
                text-transform: uppercase;
            }
            &-desc {
                margin-top: int(6,12);
                font-weight: 300;
                font-size: 16px;
                line-height: 1.25;
            }
            &:nth-child(1) {
                transform: translate(0px, 100px);
            }
            &:nth-child(2) {
                transform: translate(0px, 150px);
            }
            &:nth-child(3) {
                transform: translate(0px, 200px);
            }
            &:nth-child(4) {
                transform: translate(0px, 250px);
            }
        }
    }
}

@media (max-width: 1199px) {
    .cases {
        padding: 130px 0;
    }
    .cases__wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-width: 80%;
        row-gap: 50px;
    }
    .cases .creators__title {
        margin-top: 130px;
    }
    .cases .creators__item-name {
        font-size: 20px;
    }
    .cases .creators__item-desc {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .cases {
        padding: 100px 0;
    }
    .cases__title {
        transform: none;
    }
    .cases__wrapper {
        transform: none;
        max-width: 100%;
    }
    .cases .creators__title {
        margin-top: 100px;
        transform: none;
    }
    .cases .creators__item {
        transform: none !important;
    }
    .cases .creators__wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
    .cases .creators__item-name {
        br {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .cases__wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        row-gap: 24px;
    }
    .cases .creators__wrapper {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
    .cases .creators__item-name {
        font-size: 18px;
    }
    .cases .creators__item-desc {
        font-size: 16px;
    }
}

@media (max-width: 379px) {
    .cases__item-smiles img {
        width: 30px;
    }
}