.collab {
    padding: 250px 0;
    background: url("../img/collab/collab-bg.png") top right no-repeat, #000;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        br {
            display: none;
        }
        a {
            font-weight: 400;
            font-size: 237px;
            position: relative;
            img {
                position: absolute;
                left: 97%;
                top: 36%;
                transition: 0.3s all;
            }
            &:after {
                height: 8px;
                top: 110%;

            }
        }
    }
    &__wrapper {
        position: relative;
        //overflow: hidden;
    }
}

@media (max-width: 1699px) {
    .collab__title a {
        font-size: 223px;
    }
}

@media (max-width: 1599px) {
    .collab__title a {
        font-size: 190px;
    }
}

@media (max-width: 1399px) {
    .collab {
        padding: 150px 0;
    }
    .collab__title a {
        font-size: 150px;
    }
}

@media (max-width: 1199px) {
    .collab__title a {
        font-size: 123px;
    }
}

@media (max-width: 991px) {
    .collab {
        padding: 120px 0;
    }
    .collab__title a {
        font-size: 99px;
    }
    .collab__title a img {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .collab__title a {
        font-size: 65px;
    }
    .collab__title a img {
        width: 100px;
        left: 65%;
        top: 78%;
    }
}

@media (max-width: 429px) {
    .collab__title a {
        font-size: 49px;
    }
    .collab__title a img {
        left: 55%;
    }
}