.contact {
    padding: 146px 0 50px;
    background: url('../img/contact/contact-bg.jpg') center center / cover no-repeat;
    color: #000;
    &__wrapper {
        position: relative;
        transition: 0.1s all ease-out;
        max-width: 1320px;
        margin: 0 auto;
        padding: 94px 120px;
        background: url("../img/contact/contact-wrapper-bg.jpg") center center / cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 250px;
    }
    &__title {
        text-align: center;
    }
    &__write {
        position: relative;
        font-family: 'SA No Rules';
        font-size: 171px;
        text-align: center;
        letter-spacing: 0.06em;
        &:after {
            content: url("../img/contact/contact-smile.svg");
            display: block;
            position: absolute;
            left: 100%;
            top: 30%;
        }
    }
    .form {
        &__inputs {
            display: grid;
            grid-template-columns: 1fr 1fr 115px;
            gap: 10px;
        }
        &__policy {
            margin-top: 32px;
            text-align: center;
        }
    }
}

@media (max-width: 1399px) {
    .contact__write {
        font-size: 130px;
    }
}

@media (max-width: 1199px) {
    .contact__write {
        font-size: 100px;
    }
    .contact__wrapper {
        gap: 200px;
    }
}

@media (max-width: 991px) {
    .contact {
        padding: 50px 0;
    }
    .contact__wrapper {
        padding: 50px;
        gap: 100px;
    }
    .contact__write {
        font-size: 70px;
    }
}

@media (max-width: 767px) {
    .contact__write:after {
        left: 40%;
        top: 85%;
        max-width: 60px;
    }
    .contact__write {
        margin-bottom: 70px;
    }
    .contact .form__inputs {
        grid-template-columns: 100%;
        gap: 15px;
    }
    .contact {
        .button {
            gap: 11px;
            img {
                width: 40px;
            }
            span {
                display: block !important;
                font-weight: 700;
                font-size: 19px;
                color: #FFFFFF;
            }
        }
    }
    .contact .form__policy {
        display: none;
    }
    .contact .form {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .contact__wrapper {
        padding: 36px 24px;
        gap: 74px;
    }
    .contact__title {
        font-size: 30px;
    }
    .contact__write {
        font-size: 58px;
    }
    .contact .button img {
        width: 20px;
    }
}

@media (max-width: 379px) {
    .contact__write {
        font-size: 49px;
    }
}