.modal {
    display: none;
    max-width: 1050px;
    padding: 40px 70px;
    color: #000;
    .form__inputs {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    input {
        &:focus {
            outline: 2px solid #000 !important;
        }
    }
    .modal-file {
        width: 100%;
        height: 100%;
        outline: 2px solid #000;
        position: relative;
        cursor: pointer;
        z-index: 1;
        img {
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
        }
        input {
            opacity: 0;
            cursor: pointer;
        }
    }
    .button {
        margin-top: 34px;
        width: 100%;
        padding: 0 45px;
        color: #fff;
        font-size: 37px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .form__policy {
        margin-top: 34px;
    }
}

@media (max-width: 1599px) {
    .modal {
        max-width: 950px;
    }
}

@media (max-width: 1399px) {
    .modal {
        max-width: 850px;
    }
}

@media (max-width: 1199px) {
    .modal {
        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .modal {
        max-width: 93%;
        padding: 26px 36px;
        .form input {
            height: 65px;
        }
        .button {
            height: 65px;
            font-size: 19px;
            img {
                width: 30px;
            }
        }
        .form__policy {
            font-size: 13px;
        }
    }
    .modal .form__inputs {
        margin-top: 35px;
        grid-template-columns: 100%;
    }
}

@media (max-width: 575px) {
    .modal .modal-file img {
        width: 30px;
        left: 11px;
        right: initial;
    }
    .modal .button img {
        width: 20px;
    }
}